In [56]:
import pandas

In [57]:
df = pandas.read_csv('media/test_csv.csv')

In [58]:
df.head()

       nom   prénom      statut
0     paul   Louvin      Envoyé
1  Pauline  Gaumont  Non envoyé

In [59]:
f = [
    {
        "column": "nom", 
        "operator": "contains", 
        "value": "paul", 
        "union": "and"
    },
    {
        "column": "prénom", 
        "operator": "contains",
        "value": "Gaumont", 
        "union": "or"
    }
]

In [60]:
result_filters = {}
for x in f:
    column = x['column']
    operator = x['operator']
    value = x['value']
    if operator == 'contains':
        result_filters[f'{column}_filter'] = df[column].isin([value])
result_filters

{'nom_filter': 0     True
 1    False
 Name: nom, dtype: bool,
 'prénom_filter': 0    False
 1     True
 Name: prénom, dtype: bool}

In [61]:
df_filters = pandas.DataFrame(result_filters)

In [68]:
pandas.concat([df, df_filters], axis='columns')

       nom   prénom      statut  nom_filter  prénom_filter
0     paul   Louvin      Envoyé        True          False
1  Pauline  Gaumont  Non envoyé       False           True